.elements {
  display: flex;
  gap: 20px 18px;
  flex-wrap: wrap;
  margin: 50px auto 100px;
  max-width: 882px;
}
.elements__card {
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.elements__container {
  height: 282px;
}
.elements__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.elements__trash {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 18px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.elements__trash:hover {
  opacity: 0.6;
}

.elements__rectangle {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}

.elements__title {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  width: 246px;
  margin: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__heart {
  margin-right: 18px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.elements__heart-active {
  background-image: url(../images/Union.svg);
}

.elements__heart:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .elements {
    row-gap: 20px;
    margin: 30px auto 60px;
    display: flex;
    justify-content: center;
  }
}