.header {
  padding: 45px 0px 0px;
  margin: 0px auto 40px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 425px) {
  .header {
    padding: 45px 0px 0px;
    width: 360px;
  }

  .header__logo {
    margin-bottom: 31px;
  }
}