.page {
  max-width: 2560px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .page {
    width: 425px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}