.popup {
    background-color: #fff;
    display: none;
    position: fixed;
    top: 195px;
    right: calc(50% - 215px);
    max-width: 430px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 100%;
    z-index: 10;
  }
  .popup-imagen {
    display: none;
    position: fixed;
    top: 90px;
    right: calc(25% - 12.5vw);
    left: calc(25% - 12.5vw);
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    z-index: 20;
  }
  
  .popup-show {
    display: flex;
  }
  .popup__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  .popup__button-close {
    position: relative;
    bottom: 50px;
    left: 430px;
    background-color: black;
    background-image: url("../images/CloseIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    max-width: 40px;
    height: 40px;
    width: 100%;
    border-style: none;
    cursor: pointer;
    z-index: 10;
  }
  .popup__button-close:hover {
    opacity: 70%;
  }
  
  .popup-imagen__review {
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
    z-index: 10;
  }
  .popup-imagen__subtitle {
    position: relative;
    color: #ffffff;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    align-self: flex-start;
    text-align: left;
    z-index: 10;
  }
  .popup-imagen__button-close {
    position: relative;
    left: 40px;
    background-color: black;
    background-image: url("../images/CloseIcon.png");
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    max-width: 40px;
    height: 40px;
    width: 100%;
    border-style: none;
    cursor: pointer;
    z-index: 10;
  }
  .popup-image__button-close:hover {
    opacity: 70%;
  }
  @media screen and (min-width: 320px) and (max-width: 1024px) {
    .popup {
      top: 123px;
      right: calc(50% - 141px);
      max-width: 282px;
      margin: 0;
    }
    .popup-show {
      display: flex;
    }
    .popup__button-close {
      bottom: 53px;
      left: 256px;
      max-width: 26px;
      width: 100%;
      height: 26px;
    }
    .popup-imagen__button-close {
      max-width: 30px;
      width: 100%;
      height: 30px;
    }
  }