.popup {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    max-width: 888px;
  
    opacity: 1;
    top: 0;
    bottom: 0;
  }
  
  .popup__form {
    width: 430px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    color: black;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    padding: 36px;
    position: relative;
  }
  
  .popup_show {
    display: flex;
  }
  
  .popup__close-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
  }
  
  .form__close-icon:hover {
    opacity: 0.6;
  }
  
  .popup__title {
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
  }
  
  .popup__input {
    font-family: "Inter", Arial, sans-serif;
    color: black;
    margin-top: 54px;
    padding: 0 0 7px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    border: none;
    border-bottom: 1px solid #545454;
  }
  
  .popup__button-save {
    font-family: "Inter", sans-serif, Arial;
    background-color: black;
    color: white;
    margin-top: 48px;
    padding: 14px 0 14px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    cursor: pointer;
  }
  
  .popup__button-save:hover {
    opacity: 0.8;
  }
  
  .popup_show-card {
    display: flex;
  }
  
  .popup__image {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup__image_show {
    display: flex;
    opacity: 1;
  }
  
  .popup__image-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: auto;
  }
  
  .popup__image-full {
    position: relative;
    max-width: 75vw;
    max-height: 75vh;
    object-fit: cover;
  }
  
  .popup__image-title {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    font-size: 18px;
    color: #ffff;
  }
  
  .popup__image-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -45px;
    right: -45px;
    cursor: pointer;
  }
  
  .popup__image-close:hover {
    opacity: 0.6;
  }
  
  .popup__button_disabled {
    background: #000000cc;
    opacity: 0.2;
  }
  .popup__input_type_error {
    border-bottom: 1px solid red;
  }
  
  .popup__input-error {
    color: #ff0000;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }
  
  @media screen and (max-width: 590px) {
    .popup {
      max-width: 390px;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      width: 100vw;
    }
  }
  
  @media screen and (max-width: 590px) {
    .popup__image {
      max-width: 382px;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 590px) {
    .popup__image-full {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .popup__form {
      width: 282px;
      height: 322px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: black;
      border-radius: 10px 10px 10px 10px;
      background-color: white;
      padding: 22px;
      margin: auto;
    }
  }
  
  @media screen and (max-width: 500px) {
    .popup__close-icon {
      width: 26px;
      height: 26px;
      position: absolute;
      top: -30px;
      right: -27px;
    }
  }
  @media screen and (max-width: 500px) {
    .popup__image-close {
      width: 30px;
      height: 30px;
      top: -30px;
      right: -30px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .popup__button-save {
      font-size: 14px;
    }
  }