.profile {
    max-width: 882px;
    margin: auto;
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile__avatar {
    width: 155px;
    height: 155px;
    background-size: contain;
    border-radius: 90px;
  }
  
  .profile__info {
    max-width: 450px;
  }
  
  .profile__name {
    font-family: "Inter", Arial, sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #ffff;
    margin: 2px 0 0 19px;
    padding: 0;
    overflow: hidden;
  }
  
  .profile__edit-button,
  .profile__name {
    display: inline-block;
  }
  
  .profile__edit-button {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-color: #000;
    border: 0;
    margin: 0 0 0 20px;
    cursor: pointer;
  }
  
  .profile__edit-button:hover {
    opacity: 0.6;
  }
  
  .profile__about {
    max-width: 415px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #ffff;
    padding-top: 4px;
    margin-left: 26px;
    overflow: hidden;
  }
  
  .profile__add-button {
    align-self: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: #000;
    border: 0;
  }
  
  .profile__add-button:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 500px) {
    .profile {
      width: 385px;
      justify-content: center;
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .profile__avatar {
      margin: auto;
    }
  }
  
  @media screen and (max-width: 400px) {
    .profile__name {
      text-align: center;
      max-width: 380px;
      font-size: 22px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .profile__about {
      font-size: 18px;
      text-align: center;
      padding-bottom: 36px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .profile__add-button {
      width: 250px;
      max-width: 100%;
      background-position: center;
      background-size: auto;
    }
  }